rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /dataUser/{document=**} {
      allow read:if true;
      allow create: if request.resource.data.iduser is string &&
              request.resource.data.userName is string &&
              request.resource.data.email is string;
      allow update: if true;
      allow delete: if false;
    }

    match /dataPassword/{documentId} {
      allow read: if request.auth != null;
      allow update, delete: if request.auth != null && 
              request.auth.uid == resource.data.uid;
      allow create: if request.auth != null &&
              request.resource.data.website is string &&
              request.resource.data.username is string &&
              request.resource.data.passwordEncrypted is string &&
              request.resource.data.iv is string &&
              request.resource.data.salt is string &&
              request.resource.data.category is string &&
              (request.resource.data.expiryDate is timestamp || 
              request.resource.data.expiryDate == null) &&
              request.resource.data.notes is string &&
              request.resource.data.uid == request.auth.uid;
    }

    match /sharedPasswords/{documentId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null &&
              request.resource.data.passwordId is string &&
              request.resource.data.ownerId == request.auth.uid &&
              request.resource.data.sharedWithEmail is string &&
              request.resource.data.sharedWithUid is string;
      allow delete: if request.auth != null && 
              request.auth.uid == resource.data.ownerId;
    }
  }
}
